
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 96.5rem;
}.appointment-history-pyP {
  height: 15rem;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  width: 100%;
  font-style: italic;
  white-space: nowrap;
}
