
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.manage-staff-xtR {
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;

  .frame-2609219-Sob {
    margin-right: 5.3rem;
    box-sizing: border-box;
    width: 29.1rem;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    padding: 1.4rem 0rem 23.751rem 2.9rem;
    height: 102.4rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .frame-129-jGu {
      margin: 0rem 4.191rem 4.3rem 0.3rem;
      width: calc(100% - 4.4913rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .image-4-rMX {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 0rem;
        width: 5.3087rem;
        height: 4.5913rem;
        object-fit: cover;
      }
      .healtether-xvM {
        color: #03bf9c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2.8696rem;
        font-weight: 600;
        line-height: 2.3000000133;
      }
    }
    .navigation-tJD {
      width: 30.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-etrf-SKj {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 3rem;
        width: 100%;
        display: flex;

        .frame-2609221-mcu {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          margin: 0rem 7.4rem 3rem 0rem;
          padding: 1rem 13.8rem 1rem 0.95rem;
          width: calc(100% - 7.4rem);
          cursor: pointer;
          flex-shrink: 0;

          .iconhome-U1X {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.65rem 0.267rem 0rem;
            width: 2.4rem;
            height: 2.1333rem;
            object-fit: contain;
          }
          .home-nnu {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .frame-2609222-ucd {
          width: calc(100% - 7.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 7.8rem 1rem 0.983rem;
          margin: 0rem 7.4rem 3rem 0rem;

          .uis-schedule-D7X {
            margin: 0rem 1.683rem 0rem 0rem;
            width: 2.3333rem;
            height: 2.3333rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .appointments-9G5 {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .frame-2609227-U3T {
          background-color: #ffffff;
          margin: 0rem 7.4rem 3rem 0rem;
          box-sizing: border-box;
          width: calc(100% - 7.4rem);
          cursor: pointer;
          align-items: center;
          padding: 0.975rem 6.4rem 0.975rem 0.925rem;
          display: flex;
          flex-shrink: 0;

          .ion-logo-whatsapp-yF7 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.625rem;
            width: 2.45rem;
            height: 2.45rem;
          }
          .whatsapp-chat-WVw {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .frame-2609223-3Ey {
          flex-shrink: 0;
          box-sizing: border-box;
          cursor: pointer;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          margin: 0rem 7.4rem 3rem 0rem;
          padding: 0.941rem 6.852rem 0.941rem 1.069rem;
          width: calc(100% - 7.4rem);

          .component-3-YhX {
            flex-shrink: 0;
            margin: 0rem 1.662rem 0rem 0rem;
            width: 2.0173rem;
            height: 1.7886rem;
            object-fit: contain;
            vertical-align: top;
          }
          .patients-record-GdX {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .frame-2609224-Py3 {
          align-items: center;
          background-color: #f7f4fa;
          flex-shrink: 0;
          margin: 0rem 7.4rem 3.8rem 0rem;
          box-sizing: border-box;
          padding: 0.805rem 8.852rem 0.852rem 0.788rem;
          width: calc(100% - 7.4rem);
          display: flex;

          .component-5-hiq {
            margin-right: 1.5027rem;
            width: 2.4578rem;
            height: 2.6259rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .manage-staff-qq3 {
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.0474rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .frame-2609228-Na5 {
          height: 2.6828rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 18.652rem 3.8rem 0.8rem;
          box-sizing: border-box;
          padding: 0.062rem 0rem 0.062rem 0.041rem;
          width: calc(100% - 19.4518rem);

          .component-2-HBF {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.541rem 0.068rem 0rem;
            width: 2.3661rem;
            height: 2.4909rem;
            object-fit: contain;
          }
          .payments-Qmf {
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .frame-2609225-kKj {
          width: calc(100% - 7.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 7.4rem;
          box-sizing: border-box;
          padding: 0.9rem 12rem 0.9rem 0.858rem;

          .trending-up-G3B {
            flex-shrink: 0;
            margin: 0.097rem 1.558rem 0rem 0rem;
            width: 2.3833rem;
            height: 1.3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .analytics-yyB {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .logout-7pV {
        width: 100%;
        height: 15.1rem;
        flex-shrink: 0;

        .frame-2609226-Uf3 {
          box-sizing: border-box;
          padding: 0.9rem 13.4rem 0.9rem 1.017rem;
          width: 23.4rem;
          height: 4.2rem;
          cursor: pointer;
          display: flex;
          align-items: center;

          .ri-logout-circle-r-line-zdP {
            flex-shrink: 0;
            margin: 0rem 1.4rem 0rem 0rem;
            width: 2.3833rem;
            height: 2.1667rem;
            object-fit: contain;
            vertical-align: top;
          }
          .logout-v1F {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .auto-group-wvaq-Qx1 {
    width: 103.6rem;
    flex-shrink: 0;
    margin-top: 2.5rem;

    .frame-2609302-9Po {
      margin: 0rem 1.351rem 1.9rem 0rem;
      width: calc(100% - 1.3514rem);
      height: 4.4rem;
      display: flex;
      align-items: center;

      .frame-2609231-rp1 {
        margin-right: 25.8rem;
        box-sizing: border-box;
        position: relative;
        align-items: center;
        border: solid 0.1rem #202741;
        padding: 1.2rem 1.538rem 1.4rem 1.2rem;
        height: 100%;
        overflow: hidden;
        display: flex;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .frame-2609247-PJ9 {
          flex-shrink: 0;
          margin-right: 39.1381rem;
          box-sizing: border-box;
          padding-left: 0.225rem;
          height: 100%;
          display: flex;
          align-items: center;

          .ic-baseline-search-8Fj {
            width: 1.3117rem;
            height: 1.3117rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.463rem 0.038rem 0rem;
          }
          .search-patient-3db {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1999999455;
            color: #6a798a;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            letter-spacing: 0.028rem;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .system-uicons-filtering-MuB {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.2952rem;
          width: 1.5238rem;
          height: 1.3333rem;
        }
      }
      .frame-2609301-FzZ {
        flex-shrink: 0;
        margin: 0.4rem 0rem 0.5rem 0rem;
        height: calc(100% - 0.9rem);
        display: flex;
        align-items: center;

        .auto-group-fpot-bYd {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.779rem 1.729rem 0.775rem 0.438rem;

          .ion-help-circle-outline-KjX {
            width: 1.925rem;
            height: 1.925rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.163rem 0.004rem 0rem;
          }
          .iconnotifications-dkD {
            height: 1.9456rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.9457rem;
          }
        }
        .auto-group-k8vd-Ak9 {
          width: 13.2486rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .frame-2609282-Wp1 {
            top: 0;
            display: flex;
            align-items: center;
            width: 10.4rem;
            height: 3.5rem;
            cursor: pointer;
            position: absolute;
            left: 0;

            .rectangle-1227-44q {
              margin-right: 0.3rem;
              width: 3.5rem;
              height: 3.5rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
            }
            .ajit-bhalla-P77 {
              line-height: 1.1999999455;
              white-space: nowrap;
              font-weight: 400;
              letter-spacing: 0.028rem;
              color: #000000;
              font-family: Arimo, 'Source Sans Pro';
              flex-shrink: 0;
              margin-top: 0.0199rem;
              font-size: 1.4rem;
            }
          }
          .frame-2609281-JUy {
            width: 2.9486rem;
            height: 1.7rem;
            position: absolute;
            left: 10.3rem;
            top: 0.9rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #000000;
            box-sizing: border-box;

            .en-EdX {
              margin-right: 0.1rem;
              font-size: 1.4rem;
              font-weight: 400;
              letter-spacing: 0.028rem;
              font-family: Arimo, 'Source Sans Pro';
              line-height: 1.1999999455;
              color: #1e1e36;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .vector-AXB {
              margin-bottom: 0.0001rem;
              width: 0.7486rem;
              height: 0.3743rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .rectangle-1218-5e9 {
      height: 0.1rem;
      background-color: #d9d9d9;
      margin: 0rem 0rem 1.9rem 0.7rem;
      width: 102.9rem;
    }
    .auto-group-wxzd-QwK {
      width: calc(100% - 0.1rem);
      height: 4.6rem;
      display: flex;
      align-items: center;
      margin: 0rem 0.1rem 1.9rem 0rem;

      .frame-2609260-ut5 {
        flex-shrink: 0;
        margin: 1.3rem 40.4rem 0.9rem 0rem;
        height: calc(100% - 2.2rem);
        display: flex;
        column-gap: 1.6rem;
        align-items: center;

        .dashboard-eDP {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #585858;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .vector-244-nKb {
          width: 0.6rem;
          height: 1.55rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .manage-staff-iyw {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #585858;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .frame-2609357-GEm {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .schedule-appointment-2Dw {
          cursor: pointer;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1800000072);
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin: 0.3rem 0.8rem 0.3rem 0rem;
          box-sizing: border-box;
          padding: 0.8rem;
          height: calc(100% - 0.6rem);
          display: flex;
          align-items: center;
          background-color: #ffffff;

          .group-36373-9JZ {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: 1.4rem;
            height: 1.4rem;
          }
          .add-member-V7X {
            color: #03bf9c;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .schedule-appointment-nMX {
          padding: 1.1rem 0.8rem;
          height: 100%;
          display: flex;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          cursor: pointer;
          align-items: center;
          background-color: #03bf9c;

          .mdi-account-multiple-add-j1s {
            margin-right: 0.6rem;
            width: 3rem;
            height: 1.75rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .schedule-appointment-Fku {
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
      }
    }
    .rectangle-1219-a2V {
      margin: 0rem 0rem 1.9rem 0.7rem;
      width: 102.9rem;
      height: 0.1rem;
      background-color: #d9d9d9;
    }
    .frame-2609327-JDP {
      width: calc(100% - 0.0328rem);
      display: flex;
      flex-direction: column;
      margin: 0rem 0.033rem 5.3rem 0rem;

      .doctors-pxR {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.3899999857;
      }
      .frame-2609316-MxM {
        height: 16.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .group-36349-JMo {
          flex-shrink: 0;
          margin-right: 1.6rem;
          width: 15.9279rem;
          height: 100%;
          cursor: pointer;
          position: relative;

          .ellipse-759-dus {
            top: 0.9722rem;
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
            width: 11.2168rem;
            height: 11.2168rem;
            position: absolute;
            left: 2.3929rem;
          }
          .frame-171-May {
            box-sizing: border-box;
            padding: 0.628rem 0.748rem 0.628rem 0.748rem;
            width: 15.9279rem;
            left: 0;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);
            border-radius: 0.5982rem;
            height: 6.9544rem;
            position: absolute;
            top: 9.9456rem;
            overflow: hidden;
            border: solid 0.0748rem #cff9f1;
            background-color: #ffffff;

            .group-36345-frZ {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .frame-183-pjT {
                flex-shrink: 0;
                margin-right: 3.3863rem;
                width: 9.7rem;
                height: 100%;

                .frame-182-y6Z {
                  flex-direction: column;
                  width: 100%;
                  display: flex;

                  .dr-ajit-bhalla-jLd {
                    margin-bottom: 0.2991rem;
                    font-weight: 500;
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4956rem;
                    line-height: 1.1500001084;
                    letter-spacing: -0.015rem;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                  .mbbs-dlo-msent-qPf {
                    line-height: 1.7692308145;
                    letter-spacing: -0.0097rem;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 0.9721rem;
                    font-weight: 500;
                  }
                }
                .ent-specialist-mHK {
                  line-height: 2.0909090698;
                  letter-spacing: -0.0082rem;
                  color: #03bf9c;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 0.8226rem;
                  font-weight: 500;
                }
              }
              .arrow-1-hgm {
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-nTK {
            object-fit: cover;
            vertical-align: top;
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
            left: 3.9633rem;
            top: 0;
          }
        }
        .group-36350-u29 {
          flex-shrink: 0;
          margin-right: 1.6rem;
          width: 15.9279rem;
          height: 100%;
          position: relative;

          .ellipse-759-qwP {
            top: 0.9722rem;
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
            width: 11.2168rem;
            height: 11.2168rem;
            position: absolute;
            left: 2.3929rem;
          }
          .frame-171-aPB {
            box-sizing: border-box;
            padding: 0.6276rem 0.7478rem;
            width: 15.9279rem;
            height: 6.9544rem;
            left: 0;
            top: 9.9456rem;
            border: solid 0.0748rem #cff9f1;
            background-color: #ffffff;
            position: absolute;
            overflow: hidden;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);
            border-radius: 0.5982rem;

            .group-36345-hyb {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .frame-183-GG1 {
                flex-shrink: 0;
                margin-right: 2.1863rem;
                width: 10.9rem;
                height: 100%;

                .frame-182-DS9 {
                  flex-direction: column;
                  width: 100%;
                  display: flex;

                  .dr-james-hart-Npq {
                    font-weight: 500;
                    line-height: 1.1500001084;
                    color: #000000;
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.2991rem;
                    font-size: 1.4956rem;
                    letter-spacing: -0.015rem;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                  .mbbs-md-JTb {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 0.9721rem;
                    font-weight: 500;
                    line-height: 1.7692308145;
                    letter-spacing: -0.0097rem;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                }
                .surgeon-qiR {
                  white-space: nowrap;
                  font-size: 0.8226rem;
                  font-weight: 500;
                  line-height: 2.0909090698;
                  letter-spacing: -0.0082rem;
                  color: #03bf9c;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .arrow-1-ag1 {
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-Goj {
            vertical-align: top;
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
            left: 3.9632rem;
            top: 0;
            object-fit: cover;
          }
        }
        .group-36351-CSV {
          width: 15.9279rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 1.6rem;

          .ellipse-759-YmF {
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
            width: 11.2168rem;
            height: 11.2168rem;
            position: absolute;
            left: 2.3929rem;
            top: 0.9722rem;
          }
          .frame-171-Uuo {
            position: absolute;
            left: 0;
            top: 9.9456rem;
            border: solid 0.0748rem #cff9f1;
            padding: 0.6276rem 0.7478rem;
            height: 6.9544rem;
            overflow: hidden;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);
            background-color: #ffffff;
            border-radius: 0.5982rem;
            box-sizing: border-box;
            width: 15.9279rem;

            .group-36345-1eq {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .frame-183-me1 {
                width: 10.9rem;
                height: 100%;
                flex-shrink: 0;
                margin-right: 2.1863rem;

                .frame-182-ip9 {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .dr-james-hart-V4D {
                    line-height: 1.1500001084;
                    color: #000000;
                    flex-shrink: 0;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.2991rem;
                    font-size: 1.4956rem;
                    font-weight: 500;
                    letter-spacing: -0.015rem;
                  }
                  .mbbs-md-1YM {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 0.9721rem;
                    font-weight: 500;
                    line-height: 1.7692308145;
                    letter-spacing: -0.0097rem;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                }
                .surgeon-YoB {
                  line-height: 2.0909090698;
                  letter-spacing: -0.0082rem;
                  color: #03bf9c;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 0.8226rem;
                  font-weight: 500;
                }
              }
              .arrow-1-ViR {
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-aE5 {
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
            left: 3.9633rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .group-36352-di9 {
          margin-right: 1.6rem;
          width: 15.9279rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .ellipse-759-BDs {
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
            width: 11.2168rem;
            height: 11.2168rem;
            position: absolute;
            left: 2.3929rem;
            top: 0.9722rem;
          }
          .frame-171-hxu {
            overflow: hidden;
            border: solid 0.0748rem #cff9f1;
            border-radius: 0.5982rem;
            padding: 0.6276rem 0.7478rem;
            height: 6.9544rem;
            left: 0;
            top: 9.9456rem;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);
            background-color: #ffffff;
            box-sizing: border-box;
            width: 15.9279rem;
            position: absolute;

            .group-36345-3Wy {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .frame-183-njT {
                margin-right: 2.1863rem;
                width: 10.9rem;
                height: 100%;
                flex-shrink: 0;

                .frame-182-8oK {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .dr-james-hart-JC1 {
                    font-weight: 500;
                    letter-spacing: -0.015rem;
                    font-family: Poppins, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-bottom: 0.2991rem;
                    font-size: 1.4956rem;
                    line-height: 1.1500001084;
                    color: #000000;
                    white-space: nowrap;
                  }
                  .mbbs-md-pRF {
                    letter-spacing: -0.0097rem;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 0.9721rem;
                    font-weight: 500;
                    line-height: 1.7692308145;
                  }
                }
                .surgeon-xXT {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 0.8226rem;
                  font-weight: 500;
                  line-height: 2.0909090698;
                  letter-spacing: -0.0082rem;
                  color: #03bf9c;
                }
              }
              .arrow-1-6df {
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-bKX {
            vertical-align: top;
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
            left: 3.9632rem;
            top: 0;
            object-fit: cover;
          }
        }
        .group-36353-7Hs {
          width: 15.9279rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 1.6rem;

          .ellipse-759-f4V {
            left: 2.3929rem;
            top: 0.9722rem;
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
            width: 11.2168rem;
            height: 11.2168rem;
            position: absolute;
          }
          .frame-171-zMf {
            box-sizing: border-box;
            position: absolute;
            top: 9.9456rem;
            overflow: hidden;
            border: solid 0.0748rem #cff9f1;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);
            padding: 0.6276rem 0.7478rem;
            width: 15.9279rem;
            height: 6.9544rem;
            left: 0;
            background-color: #ffffff;
            border-radius: 0.5982rem;

            .group-36345-8Cy {
              height: 100%;
              display: flex;
              align-items: flex-start;
              width: 100%;

              .frame-183-gkH {
                flex-shrink: 0;
                margin-right: 2.1863rem;
                width: 10.9rem;
                height: 100%;

                .frame-182-dvR {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .dr-james-hart-bsF {
                    letter-spacing: -0.015rem;
                    white-space: nowrap;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-bottom: 0.2991rem;
                    font-size: 1.4956rem;
                    font-weight: 500;
                    line-height: 1.1500001084;
                  }
                  .mbbs-md-LK3 {
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 0.9721rem;
                    font-weight: 500;
                    line-height: 1.7692308145;
                    letter-spacing: -0.0097rem;
                    color: #000000;
                  }
                }
                .surgeon-5Gd {
                  line-height: 2.0909090698;
                  letter-spacing: -0.0082rem;
                  color: #03bf9c;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 0.8226rem;
                  font-weight: 500;
                }
              }
              .arrow-1-cnM {
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-Wsj {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
            left: 3.9633rem;
          }
        }
        .group-36354-EHw {
          width: 15.9279rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .ellipse-759-PAq {
            width: 11.2168rem;
            height: 11.2168rem;
            position: absolute;
            left: 2.3929rem;
            top: 0.9722rem;
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
          }
          .frame-171-WmF {
            top: 9.9456rem;
            overflow: hidden;
            border: solid 0.0748rem #cff9f1;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);
            background-color: #ffffff;
            width: 15.9279rem;
            height: 6.9544rem;
            position: absolute;
            left: 0;
            border-radius: 0.5982rem;
            box-sizing: border-box;
            padding: 0.6276rem 0.7478rem;

            .group-36345-TAh {
              display: flex;
              align-items: flex-start;
              width: 100%;
              height: 100%;

              .frame-183-D9s {
                width: 10.9rem;
                height: 100%;
                flex-shrink: 0;
                margin-right: 2.1863rem;

                .frame-182-AL1 {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .dr-james-hart-va5 {
                    margin-bottom: 0.2991rem;
                    letter-spacing: -0.015rem;
                    white-space: nowrap;
                    font-size: 1.4956rem;
                    font-weight: 500;
                    line-height: 1.1500001084;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .mbbs-md-4AV {
                    font-weight: 500;
                    line-height: 1.7692308145;
                    letter-spacing: -0.0097rem;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 0.9721rem;
                  }
                }
                .surgeon-oNy {
                  font-size: 0.8226rem;
                  font-weight: 500;
                  line-height: 2.0909090698;
                  letter-spacing: -0.0082rem;
                  color: #03bf9c;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .arrow-1-9Sq {
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-rMF {
            left: 3.9633rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
          }
        }
      }
    }
    .frame-2609328-NaV {
      width: 103.4rem;

      .other-staff-LGR {
        line-height: 1.3899999857;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 600;
      }
      .frame-2609317-sXF {
        width: 100%;
        height: 15.4rem;
        display: flex;
        column-gap: 1.6rem;
        align-items: center;

        .group-36351-by3 {
          position: relative;
          flex-shrink: 0;
          width: 15.9rem;
          height: 100%;

          .ellipse-759-kb3 {
            width: 11.2168rem;
            height: 11.2168rem;
            position: absolute;
            left: 2.3929rem;
            top: 0.9722rem;
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
          }
          .frame-171-5dK {
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);
            background-color: #ffffff;
            box-sizing: border-box;
            width: 15.9rem;
            height: 5.5rem;
            left: 0;
            top: 9.9rem;
            overflow: hidden;
            border-radius: 0.5982rem;
            padding: 0.8rem 0.734rem 0.8rem 0.734rem;
            position: absolute;
            border: solid 0.0748rem #cff9f1;

            .group-36345-brZ {
              align-items: flex-start;
              width: 100%;
              height: 100%;
              display: flex;

              .frame-182-kzM {
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 5.7863rem;
                height: 100%;
                display: flex;

                .jay-shete-v89 {
                  letter-spacing: -0.015rem;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 0.2991rem;
                  font-weight: 500;
                  line-height: 1.1500001084;
                  font-size: 1.4956rem;
                  color: #000000;
                  flex-shrink: 0;
                }
                .receptionist-SsB {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 0.9721rem;
                  font-weight: 500;
                  line-height: 1.7692308145;
                  letter-spacing: -0.0097rem;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .arrow-1-P1j {
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-fzq {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
            left: 3.9633rem;
          }
        }
        .group-36352-bNh {
          flex-shrink: 0;
          width: 15.9rem;
          height: 100%;
          position: relative;

          .ellipse-759-M6y {
            top: 0.9722rem;
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
            width: 11.2168rem;
            height: 11.2168rem;
            position: absolute;
            left: 2.3929rem;
          }
          .frame-171-gQ9 {
            overflow: hidden;
            border: solid 0.0748rem #cff9f1;
            background-color: #ffffff;
            border-radius: 0.5982rem;
            box-sizing: border-box;
            height: 5.5rem;
            position: absolute;
            top: 9.9rem;
            padding: 0.8rem 0.734rem 0.8rem 0.734rem;
            width: 15.9rem;
            left: 0;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);

            .group-36345-1BX {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .frame-182-xcZ {
                margin-right: 4.0863rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .ram-menon-7VT {
                  font-weight: 500;
                  letter-spacing: -0.015rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.2991rem;
                  font-size: 1.4956rem;
                  line-height: 1.1500001084;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .wardboy-qAZ {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 0.9721rem;
                  font-weight: 500;
                  line-height: 1.7692308145;
                  letter-spacing: -0.0097rem;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .arrow-1-a89 {
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-s7F {
            position: absolute;
            left: 3.9633rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 8.0013rem;
            height: 10.0203rem;
          }
        }
        .group-36353-zhf {
          width: 15.9rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .ellipse-759-94m {
            height: 11.2168rem;
            position: absolute;
            left: 2.3929rem;
            top: 0.9722rem;
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
            width: 11.2168rem;
          }
          .frame-171-Gv5 {
            position: absolute;
            top: 9.9rem;
            overflow: hidden;
            height: 5.5rem;
            left: 0;
            border: solid 0.0748rem #cff9f1;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.8rem 0.734rem 0.8rem 0.734rem;
            width: 15.9rem;
            border-radius: 0.5982rem;

            .group-36345-o9K {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .frame-182-Z8V {
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 4.0863rem;
                height: 100%;
                display: flex;

                .ram-menon-Jrm {
                  margin-bottom: 0.2991rem;
                  letter-spacing: -0.015rem;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                  white-space: nowrap;
                  font-size: 1.4956rem;
                  font-weight: 500;
                  line-height: 1.1500001084;
                  color: #000000;
                }
                .wardboy-3JZ {
                  letter-spacing: -0.0097rem;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 0.9721rem;
                  font-weight: 500;
                  line-height: 1.7692308145;
                }
              }
              .arrow-1-P7X {
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-t4H {
            left: 3.9633rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
          }
        }
        .group-36354-cFB {
          width: 15.9rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .ellipse-759-m85 {
            position: absolute;
            left: 2.3929rem;
            top: 0.9722rem;
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
            width: 11.2168rem;
            height: 11.2168rem;
          }
          .frame-171-hXX {
            overflow: hidden;
            border: solid 0.0748rem #cff9f1;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);
            box-sizing: border-box;
            width: 15.9rem;
            height: 5.5rem;
            position: absolute;
            top: 9.9rem;
            border-radius: 0.5982rem;
            padding: 0.8rem 0.734rem 0.8rem 0.734rem;
            left: 0;
            background-color: #ffffff;

            .group-36345-q7w {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-start;

              .frame-182-PQM {
                flex-shrink: 0;
                margin-right: 4.0863rem;
                height: 100%;
                display: flex;
                flex-direction: column;

                .ram-menon-wRs {
                  white-space: nowrap;
                  margin-bottom: 0.2991rem;
                  font-size: 1.4956rem;
                  font-family: Poppins, 'Source Sans Pro';
                  color: #000000;
                  flex-shrink: 0;
                  font-weight: 500;
                  line-height: 1.1500001084;
                  letter-spacing: -0.015rem;
                }
                .wardboy-GU9 {
                  flex-shrink: 0;
                  font-size: 0.9721rem;
                  font-weight: 500;
                  line-height: 1.7692308145;
                  letter-spacing: -0.0097rem;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .arrow-1-QqF {
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-W7b {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
            left: 3.9633rem;
          }
        }
        .group-36355-qQm {
          width: 15.9rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .ellipse-759-b93 {
            width: 11.2168rem;
            height: 11.2168rem;
            position: absolute;
            left: 2.3929rem;
            top: 0.9722rem;
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
          }
          .frame-171-88y {
            border: solid 0.0748rem #cff9f1;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);
            background-color: #ffffff;
            border-radius: 0.5982rem;
            width: 15.9rem;
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 9.9rem;
            box-sizing: border-box;
            padding: 0.8rem 0.734rem 0.8rem 0.734rem;
            height: 5.5rem;

            .group-36345-SvM {
              height: 100%;
              display: flex;
              align-items: flex-start;
              width: 100%;

              .frame-182-DAR {
                margin-right: 4.0863rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .ram-menon-y9b {
                  color: #000000;
                  white-space: nowrap;
                  font-weight: 500;
                  line-height: 1.1500001084;
                  letter-spacing: -0.015rem;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 0.2991rem;
                  font-size: 1.4956rem;
                }
                .wardboy-VNq {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 0.9721rem;
                  font-weight: 500;
                  line-height: 1.7692308145;
                  letter-spacing: -0.0097rem;
                }
              }
              .arrow-1-EbK {
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.8974rem;
                width: 1.346rem;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-jny {
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
            left: 3.9633rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .group-36356-fgd {
          width: 15.9rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .ellipse-759-RA1 {
            height: 11.2168rem;
            position: absolute;
            left: 2.3929rem;
            top: 0.9722rem;
            background-color: #e6fcf8;
            border-radius: 5.6084rem;
            width: 11.2168rem;
          }
          .frame-171-Z1K {
            width: 15.9rem;
            position: absolute;
            left: 0;
            border: solid 0.0748rem #cff9f1;
            border-radius: 0.5982rem;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.8rem 0.734rem 0.8rem 0.734rem;
            height: 5.5rem;
            top: 9.9rem;
            overflow: hidden;
            box-shadow: 0.1496rem 0.1496rem 0.5235rem rgba(160, 160, 160, 0.25);

            .group-36345-Ue5 {
              display: flex;
              align-items: flex-start;
              width: 100%;
              height: 100%;

              .frame-182-SL1 {
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 4.0863rem;
                height: 100%;
                display: flex;

                .ram-menon-bTo {
                  font-weight: 500;
                  letter-spacing: -0.015rem;
                  color: #000000;
                  white-space: nowrap;
                  font-size: 1.4956rem;
                  line-height: 1.1500001084;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 0.2991rem;
                }
                .wardboy-Keh {
                  font-size: 0.9721rem;
                  font-weight: 500;
                  line-height: 1.7692308145;
                  letter-spacing: -0.0097rem;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .arrow-1-4cH {
                margin-top: 0.8974rem;
                width: 1.346rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .bruno-rodrigues-279xihympyy-unsplash-MrH {
            width: 8.0013rem;
            height: 10.0203rem;
            position: absolute;
            left: 3.9633rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
  }
}
