
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 60rem;
}.schedule-appointment-pop-up-BxM {
  padding: 5rem 10.7rem 5.3rem 12.1rem;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;

  .frame-2609300-75K {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 5rem 4.2rem 3.6rem;
    width: calc(100% - 8.6rem);
    align-items: center;
    display: flex;

    .auto-group-voyd-qGD {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 4rem 2.4rem 4rem;
      width: 100%;
      align-items: center;
      display: flex;

      .frame-2609236-xrd {
        margin-bottom: 2.4rem;
        box-sizing: border-box;
        padding-top: 0.5508rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .charm-circle-tick-hpD {
          flex-shrink: 0;
          margin: 0rem 0rem 2.047rem 0rem;
          width: 3.9065rem;
          height: 3.9024rem;
          object-fit: contain;
          vertical-align: top;
        }
        .the-appointment-has-been-scheduled-successfully-2Lh {
          font-size: 1.6rem;
          letter-spacing: 0.048rem;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 20.6rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.2000000477;
        }
      }
      .frame-2609237-77F {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: calc(100% - 8.6rem);
        position: relative;
        background-image: url('REPLACE_IMAGE:461:2676');
        flex-shrink: 0;
        margin: 0 4.3rem;
        height: 12rem;

        .polygon-8-S9X {
          border-radius: 0.4rem;
          width: 10rem;
          height: 10rem;
          position: absolute;
          left: 1rem;
          top: 1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .item-10-A5X {
          top: 4.5rem;
          text-align: center;
          font-family: Arimo, 'Source Sans Pro';
          width: 3.3rem;
          height: 3rem;
          left: 4.35rem;
          letter-spacing: 0.056rem;
          color: #ffffff;
          white-space: nowrap;
          position: absolute;
          font-size: 2.8rem;
          line-height: 1.0714285714;
        }
      }
    }
    .frame-376-qSZ {
      overflow: hidden;
      position: relative;
      display: flex;
      background-color: #f9f4fe;
      border-radius: 1.2rem;
      flex-shrink: 0;
      padding: 1.3rem 2.4rem 0.7rem 2.3rem;
      width: 100%;
      align-items: center;
      flex-direction: column;
      box-shadow: inset 0.2rem 0.4rem 0.5rem #e1c2fa), 0 0.4rem 0.4rem rgba(162, 65, 238, 0.5799999833);
      box-sizing: border-box;

      .frame-2609246-mb7 {
        margin-bottom: 1.9rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .appointment-details-j29 {
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          font-size: 1.4rem;
          line-height: 1.7142857143;
          letter-spacing: 0.028rem;
          color: #006270;
        }
        .frame-2609245-FWH {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;

          .auto-group-ybso-Q8H {
            box-sizing: border-box;
            padding-bottom: 0.8rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-2609238-95s {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 7.3rem 0.8rem 0rem;
              width: calc(100% - 7.3rem);

              .patient-name--4Tj {
                line-height: 1.1999999682;
                flex-shrink: 0;
                margin-right: 0.4rem;
                font-size: 1.2rem;
                color: #000000;
                font-family: Arimo, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 500;
                letter-spacing: 0.024rem;
              }
              .ramesh-patel-z6V {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.1999999682;
                letter-spacing: 0.024rem;
                color: #006270;
                font-family: Arimo, 'Source Sans Pro';
              }
            }
            .frame-2609244-uz9 {
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: calc(100% - 0.8rem);
              height: 1.5rem;
              display: flex;
              align-items: center;

              .frame-2609242-G41 {
                margin-right: 3.2rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .mode--p5X {
                  white-space: nowrap;
                  font-size: 1.2rem;
                  font-weight: 500;
                  line-height: 1.1999999682;
                  letter-spacing: 0.024rem;
                  color: #000000;
                  font-family: Arimo, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                }
                .physical-LZf {
                  font-weight: 400;
                  line-height: 1.1999999682;
                  letter-spacing: 0.024rem;
                  color: #006270;
                  font-family: Arimo, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
              .frame-2609240-UQy {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .date--dof {
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                  font-weight: 500;
                  line-height: 1.1999999682;
                  color: #000000;
                  white-space: nowrap;
                  font-size: 1.2rem;
                  letter-spacing: 0.024rem;
                  font-family: Arimo, 'Source Sans Pro';
                }
                .july-2023-NFT {
                  color: #006270;
                  font-family: Arimo, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.1999999682;
                  letter-spacing: 0.024rem;
                }
              }
            }
          }
          .frame-2609243-Vqs {
            width: 100%;
            height: 1.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-2609239-rgR {
              margin-right: 6rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .slot-no--CkH {
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 500;
                line-height: 1.1999999682;
                color: #000000;
                font-family: Arimo, 'Source Sans Pro';
                margin-right: 0.3rem;
                font-size: 1.2rem;
                letter-spacing: 0.024rem;
              }
              .item-2-iyX {
                font-weight: 400;
                line-height: 1.1999999682;
                letter-spacing: 0.024rem;
                color: #006270;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.2rem;
                font-family: Arimo, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-2609241-3ku {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .time--1hj {
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.1999999682;
                letter-spacing: 0.024rem;
                color: #000000;
                white-space: nowrap;
                margin-right: 0.3rem;
                font-family: Arimo, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .item-14-20-14-40-MFo {
                line-height: 1.1999999682;
                letter-spacing: 0.024rem;
                color: #006270;
                font-family: Arimo, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 400;
              }
            }
          }
        }
      }
      .appointment-booked-on-1-july-2023-sE9 {
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.2;
        letter-spacing: 0.03rem;
        color: #6b6b6b;
        font-family: Arimo, 'Source Sans Pro';
        margin-left: 0.1rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
  .frame-2609299-JqF {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .frame-2609261-Ti9 {
      flex-shrink: 0;
      height: 100%;
      line-height: 1.5;
      display: flex;
      justify-content: center;
      margin-right: 2.2rem;
      font-weight: 600;
      font-family: Open Sans, 'Source Sans Pro';
      align-items: center;
      background-color: #03bf9c;
      cursor: pointer;
      font-size: 1.6rem;
      white-space: nowrap;
      width: 17.5rem;
      color: #ffffff;
      border-radius: 0.8rem;
    }
    .frame-2609298-9ay {
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      width: 17.5rem;
      font-size: 1.6rem;
      font-family: Open Sans, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      border-radius: 0.8rem;
      height: 100%;
      line-height: 1.5;
      color: #111111;
      white-space: nowrap;
      align-items: center;
      cursor: pointer;
      font-weight: 600;
      flex-shrink: 0;
    }
  }
}
