
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 29.3rem;
}.schedule-appointment-yVb {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  padding: 3.2rem 3.2rem 3.8rem 3.2rem;
  overflow: hidden;

  .property-1default-hRb {
    cursor: pointer;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #03bf9c;
    border-radius: 0.8rem;
    margin-bottom: 3.2rem;
    padding: 1.1rem 0.8rem;

    .mdi-account-multiple-add-2im {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 3rem;
      height: 1.75rem;
    }
    .schedule-appointment-MW9 {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
    }
  }
  .property-1variant2-rxh {
    margin-right: 6.1rem;
    padding: 0.8rem 4rem 0.8rem 0.8rem;
    width: calc(100% - 6.1rem);
    align-items: center;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1800000072);
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;

    .group-36373-BVB {
      width: 1.4rem;
      height: 1.4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
    }
    .add-member-ug5 {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.5;
      color: #03bf9c;
    }
  }
}
