
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.appointments-tab-PCV {
  box-sizing: border-box;
  padding-right: 6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.appointments-tab-PCV .frame-2609219-iVf {
  margin-right: 5.3rem;
  box-sizing: border-box;
  padding: 1.4rem 0rem 23.751rem 2.9rem;
  width: 29.1rem;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .frame-129-Cvd {
  margin: 0rem 4.191rem 4.3rem 0.3rem;
  width: calc(100% - 4.4913rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .frame-129-Cvd .image-4-LG9 {
  margin: 0rem 0.4rem 0rem 0rem;
  width: 5.3087rem;
  height: 4.5913rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .frame-129-Cvd .healtether-wFw {
  display: flex;
  font-size: 2.8696rem;
  font-weight: 600;
  line-height: 2.3000000133;
  color: #03bf9c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 {
  width: 30.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy {
  box-sizing: border-box;
  padding-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609221-Z2R {
  margin: 0rem 7.4rem 3rem 0rem;
  box-sizing: border-box;
  padding: 1rem 13.8rem 1rem 0.95rem;
  width: calc(100% - 7.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609221-Z2R .iconhome-Dcm {
  margin: 0rem 1.65rem 0.267rem 0rem;
  width: 2.4rem;
  height: 2.1333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609221-Z2R .home-VqB {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609222-btD {
  margin: 0rem 7.4rem 3rem 0rem;
  box-sizing: border-box;
  padding: 1rem 7.8rem 1rem 0.983rem;
  width: calc(100% - 7.4rem);
  display: flex;
  align-items: center;
  background-color: #f7f4fa;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609222-btD .uis-schedule-WkH {
  margin: 0rem 1.683rem 0rem 0rem;
  width: 2.3333rem;
  height: 2.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609222-btD .appointments-qnZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609227-yNy {
  margin: 0rem 7.4rem 3rem 0rem;
  box-sizing: border-box;
  padding: 0.975rem 6.4rem 0.975rem 0.925rem;
  width: calc(100% - 7.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609227-yNy .ion-logo-whatsapp-tVw {
  margin-right: 1.625rem;
  width: 2.45rem;
  height: 2.45rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609227-yNy .whatsapp-chat-Do7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609223-MuK {
  margin: 0rem 7.4rem 3rem 0rem;
  box-sizing: border-box;
  padding: 0.941rem 6.852rem 0.941rem 1.069rem;
  width: calc(100% - 7.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609223-MuK .component-3-UDF {
  margin: 0rem 1.662rem 0rem 0rem;
  width: 2.0173rem;
  height: 1.7886rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609223-MuK .patients-record-bYm {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609224-jus {
  margin: 0rem 7.4rem 3.8rem 0rem;
  box-sizing: border-box;
  padding: 0.805rem 8.852rem 0.852rem 0.788rem;
  width: calc(100% - 7.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609224-jus .component-5-eX3 {
  margin-right: 1.5027rem;
  width: 2.4578rem;
  height: 2.6259rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609224-jus .manage-staff-PjX {
  margin-top: 0.0473rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609228-j2h {
  margin: 0rem 18.652rem 3.8rem 0.8rem;
  box-sizing: border-box;
  padding: 0.062rem 0rem 0.062rem 0.041rem;
  width: calc(100% - 19.4518rem);
  height: 2.6828rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609228-j2h .component-2-SC1 {
  margin: 0rem 1.541rem 0.068rem 0rem;
  width: 2.3661rem;
  height: 2.4909rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609228-j2h .payments-yBw {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609225-Whf {
  margin-right: 7.4rem;
  box-sizing: border-box;
  padding: 0.9rem 12rem 0.9rem 0.858rem;
  width: calc(100% - 7.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609225-Whf .trending-up-2AD {
  margin: 0.097rem 1.558rem 0rem 0rem;
  width: 2.3833rem;
  height: 1.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .auto-group-vxah-ccy .frame-2609225-Whf .analytics-wHB {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .logout-H69 {
  width: 100%;
  height: 15.1rem;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .logout-H69 .frame-2609226-qdT {
  box-sizing: border-box;
  padding: 0.9rem 13.4rem 0.9rem 1.017rem;
  width: 23.4rem;
  height: 4.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .logout-H69 .frame-2609226-qdT .ri-logout-circle-r-line-xxy {
  margin: 0rem 1.4rem 0rem 0rem;
  width: 2.3833rem;
  height: 2.1667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .frame-2609219-iVf .navigation-Tk5 .logout-H69 .frame-2609226-qdT .logout-6JV {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD {
  margin-top: 2.5rem;
  width: 103.6rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 {
  box-sizing: border-box;
  padding-bottom: 2.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm {
  margin: 0rem 1.351rem 1.9rem 0rem;
  width: calc(100% - 1.3514rem);
  height: 4.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609231-Pgu {
  margin-right: 25.8rem;
  box-sizing: border-box;
  padding: 1.2rem 1.538rem 1.4rem 1.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #202741;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609231-Pgu .frame-2609247-7so {
  margin-right: 39.1381rem;
  box-sizing: border-box;
  padding-left: 0.225rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609231-Pgu .frame-2609247-7so .ic-baseline-search-TRs {
  margin: 0rem 0.463rem 0.038rem 0rem;
  width: 1.3117rem;
  height: 1.3117rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609231-Pgu .frame-2609247-7so .search-patient-Bcm {
  margin-bottom: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1999999455;
  letter-spacing: 0.028rem;
  color: #6a798a;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609231-Pgu .system-uicons-filtering-6Dw {
  margin-top: 0.2952rem;
  width: 1.5238rem;
  height: 1.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj {
  margin: 0.4rem 0rem 0.5rem 0rem;
  height: calc(100% - 0.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj .auto-group-p6mf-jnh {
  box-sizing: border-box;
  padding: 0.779rem 1.729rem 0.775rem 0.438rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj .auto-group-p6mf-jnh .ion-help-circle-outline-55s {
  margin: 0rem 2.163rem 0.004rem 0rem;
  width: 1.925rem;
  height: 1.925rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj .auto-group-p6mf-jnh .iconnotifications-PsF {
  width: 1.9457rem;
  height: 1.9456rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj .auto-group-wszh-LGh {
  width: 13.2486rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj .auto-group-wszh-LGh .frame-2609282-tJD {
  width: 10.4rem;
  height: 3.5rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj .auto-group-wszh-LGh .frame-2609282-tJD .rectangle-1227-RZ3 {
  margin-right: 0.3rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj .auto-group-wszh-LGh .frame-2609282-tJD .ajit-bhalla-kLR {
  margin-top: 0.02rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1999999455;
  letter-spacing: 0.028rem;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj .auto-group-wszh-LGh .frame-2609281-Tkd {
  width: 2.9486rem;
  height: 1.7rem;
  position: absolute;
  left: 10.3rem;
  top: 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj .auto-group-wszh-LGh .frame-2609281-Tkd .en-PeH {
  margin-right: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1999999455;
  letter-spacing: 0.028rem;
  color: #1e1e36;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .frame-2609302-sCm .frame-2609301-Pyj .auto-group-wszh-LGh .frame-2609281-Tkd .vector-v8R {
  width: 0.7486rem;
  height: 0.3743rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-hnu7-KS9 .rectangle-1218-3D3 {
  margin-left: 0.7rem;
  width: 102.9rem;
  height: 0.1rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-63yk-kNM {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-63yk-kNM .frame-2609260-tDf {
  margin: 1.4rem 59.3rem 0.7rem 0rem;
  box-sizing: border-box;
  padding: 0.05rem 0;
  height: calc(100% - 2.1rem);
  display: flex;
  column-gap: 0.9375rem;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-63yk-kNM .frame-2609260-tDf .dashboard-zGh {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-63yk-kNM .frame-2609260-tDf .chevron-left-vg9 {
  width: 0.625rem;
  height: 1.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-63yk-kNM .frame-2609260-tDf .appointments-sbP {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-63yk-kNM .schedule-appointment-cYy {
  box-sizing: border-box;
  padding: 1.1rem 0.8rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #03bf9c;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-63yk-kNM .schedule-appointment-cYy .mdi-account-multiple-add-A4h {
  margin-right: 0.6rem;
  width: 3rem;
  height: 1.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .auto-group-63yk-kNM .schedule-appointment-cYy .schedule-appointment-Hv1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .rectangle-1219-D2y {
  margin-bottom: 1.9rem;
  width: 102.9rem;
  height: 0.1rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .frame-2609273-hiq {
  margin-bottom: 1.9rem;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .frame-2609273-hiq .frame-2609266-3Gu {
  width: 3.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #730ac6;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .frame-2609273-hiq .frame-2609269-w7P {
  width: 7rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #585858;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .frame-2609273-hiq .frame-2609267-2Pj {
  width: 9.5rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #585858;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .frame-2609273-hiq .frame-2609271-XbP {
  width: 10rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #585858;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .frame-2609273-hiq .frame-2609268-deR {
  width: 9.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #585858;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .frame-2609273-hiq .frame-2609270-jhT {
  width: 10.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #585858;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV {
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .results-found-zNV {
  margin-right: 65.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK {
  height: 100%;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK .frame-2609343-5eq {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK .frame-2609343-5eq .frame-2609341-End {
  margin-right: 0.4rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK .frame-2609343-5eq .refresh-BSy {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK .frame-2609250-ixh {
  margin: 0.2rem 0;
  height: calc(100% - 0.4rem);
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK .frame-2609250-ixh .item-1-20-TQV {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK .frame-2609250-ixh .of-Ccy {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK .frame-2609250-ixh .item-50-ZCd {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK .frame-2609280-W7s {
  box-sizing: border-box;
  padding: 0.7rem 1.05rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK .frame-2609280-W7s .chevron-left-3tV {
  margin-right: 2.1rem;
  width: 0.7rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .group-36378-9hK .auto-group-y95s-qkV .frame-2609265-XdK .frame-2609280-W7s .chevron-left-CFb {
  width: 0.7rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR {
  width: 100%;
  height: 43.6rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 {
  width: 100%;
  height: 100%;
  row-gap: 0.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609259-dLu {
  box-sizing: border-box;
  padding: 0.8rem 4.3rem 0.8rem 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #730ac6;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609259-dLu .patient-MXo {
  margin-right: 12.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609259-dLu .contact-tXj {
  margin-right: 11.65rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609259-dLu .location-RXf {
  margin-right: 13.15rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609259-dLu .slot-LuX {
  margin-right: 10.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609259-dLu .payment-status-HJy {
  margin-right: 6.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609259-dLu .action-RAH {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609253-ZXP {
  box-sizing: border-box;
  padding: 1.675rem 9.175rem 1.675rem 3.9rem;
  width: 100%;
  height: 5.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f3f9;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609253-ZXP .frame-2609252-tZf {
  margin: 0.025rem 7.925rem 0.025rem 0rem;
  height: calc(100% - 0.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609253-ZXP .frame-2609252-tZf .ramesh-patel-1uB {
  margin-right: 6.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609253-ZXP .frame-2609252-tZf .item-91-8649-32154-A1P {
  margin-right: 9.05rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609253-ZXP .frame-2609252-tZf .physical-5u3 {
  margin-right: 8.25rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609253-ZXP .frame-2609252-tZf .pm-5-30-pm-1Xo {
  margin-right: 8.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609253-ZXP .frame-2609252-tZf .pending-8cR {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609253-ZXP .ion-logo-whatsapp-fsF {
  width: 2.45rem;
  height: 2.45rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609254-Q49 {
  box-sizing: border-box;
  padding: 1.675rem 9.175rem 1.675rem 3.9rem;
  width: 100%;
  height: 5.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f3f9;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609254-Q49 .frame-2609252-voB {
  margin: 0.025rem 7.925rem 0.025rem 0rem;
  height: calc(100% - 0.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609254-Q49 .frame-2609252-voB .ramesh-patel-ejB {
  margin-right: 6.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609254-Q49 .frame-2609252-voB .item-91-8649-32154-nKb {
  margin-right: 9.05rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609254-Q49 .frame-2609252-voB .physical-qHs {
  margin-right: 8.25rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609254-Q49 .frame-2609252-voB .pm-5-30-pm-x7b {
  margin-right: 8.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609254-Q49 .frame-2609252-voB .pending-5T7 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609254-Q49 .ion-logo-whatsapp-pQh {
  width: 2.45rem;
  height: 2.45rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609255-kZF {
  box-sizing: border-box;
  padding: 1.675rem 9.175rem 1.675rem 3.9rem;
  width: 100%;
  height: 5.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f3f9;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609255-kZF .frame-2609252-5Ld {
  margin: 0.025rem 7.925rem 0.025rem 0rem;
  height: calc(100% - 0.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609255-kZF .frame-2609252-5Ld .ramesh-patel-PcD {
  margin-right: 6.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609255-kZF .frame-2609252-5Ld .item-91-8649-32154-vc9 {
  margin-right: 9.05rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609255-kZF .frame-2609252-5Ld .physical-rEu {
  margin-right: 8.25rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609255-kZF .frame-2609252-5Ld .pm-5-30-pm-bCV {
  margin-right: 8.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609255-kZF .frame-2609252-5Ld .pending-8TK {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609255-kZF .ion-logo-whatsapp-sA1 {
  width: 2.45rem;
  height: 2.45rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609256-bbo {
  box-sizing: border-box;
  padding: 1.675rem 9.175rem 1.675rem 3.9rem;
  width: 100%;
  height: 5.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f3f9;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609256-bbo .frame-2609252-vty {
  margin: 0.025rem 7.925rem 0.025rem 0rem;
  height: calc(100% - 0.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609256-bbo .frame-2609252-vty .ramesh-patel-f5s {
  margin-right: 6.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609256-bbo .frame-2609252-vty .item-91-8649-32154-zdw {
  margin-right: 9.05rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609256-bbo .frame-2609252-vty .physical-7yT {
  margin-right: 8.25rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609256-bbo .frame-2609252-vty .pm-5-30-pm-FZs {
  margin-right: 8.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609256-bbo .frame-2609252-vty .pending-nph {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609256-bbo .ion-logo-whatsapp-YJ5 {
  width: 2.45rem;
  height: 2.45rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609257-tMw {
  box-sizing: border-box;
  padding: 1.675rem 9.175rem 1.675rem 3.9rem;
  width: 100%;
  height: 5.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f3f9;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609257-tMw .frame-2609252-1xM {
  margin: 0.025rem 7.925rem 0.025rem 0rem;
  height: calc(100% - 0.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609257-tMw .frame-2609252-1xM .ramesh-patel-wr1 {
  margin-right: 6.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609257-tMw .frame-2609252-1xM .item-91-8649-32154-g2u {
  margin-right: 9.05rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609257-tMw .frame-2609252-1xM .physical-zpH {
  margin-right: 8.25rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609257-tMw .frame-2609252-1xM .pm-5-30-pm-8vV {
  margin-right: 8.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609257-tMw .frame-2609252-1xM .pending-Ths {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609257-tMw .ion-logo-whatsapp-QND {
  width: 2.45rem;
  height: 2.45rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609258-wd3 {
  box-sizing: border-box;
  padding: 1.675rem 9.175rem 1.675rem 3.9rem;
  width: 100%;
  height: 5.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f7f3f9;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609258-wd3 .frame-2609252-sFo {
  margin: 0.025rem 7.925rem 0.025rem 0rem;
  height: calc(100% - 0.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609258-wd3 .frame-2609252-sFo .ramesh-patel-bBo {
  margin-right: 6.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609258-wd3 .frame-2609252-sFo .item-91-8649-32154-vjs {
  margin-right: 9.05rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609258-wd3 .frame-2609252-sFo .physical-rdX {
  margin-right: 8.25rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609258-wd3 .frame-2609252-sFo .pm-5-30-pm-zjj {
  margin-right: 8.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609258-wd3 .frame-2609252-sFo .pending-jSR {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.appointments-tab-PCV .auto-group-neky-nSD .frame-2609274-jWR .frame-2609259-665 .frame-2609258-wd3 .ion-logo-whatsapp-gcZ {
  width: 2.45rem;
  height: 2.45rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
